body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #f0f0f0; /* Web sayfasının arka plan rengi */
    color: #333333; /* Metin rengi */
    animation: arkaplan 10s infinite;
}

h1 {
    color: #00a800; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}


@keyframes arkaplan {
    0% {
      background-color: rgb(0, 255, 8);
    }
  
    50% {
      background-color: rgb(251, 255, 0);
    }
  
    100% {
      background-color: rgb(0, 255, 8);
    }
}

h1 {
    animation: arkaplan 3s infinite;
}
